/* Print Stylesheet
--------------------- */

@media print {
  nav, footer {
    display: none;
  }

  h1 {
    font-size: 22px !important;
    margin: 20px 0 !important;
  }

  h2 {
    font-size: 20px !important;
    margin: 20px 0 !important;
  }

  h3, h4, h5 {
    font-size: 18px !important;
    margin: 12px 0 !important;
  }

  p {
    font-size: 12px !important;
    margin: 12px 0 !important;
    letter-spacing: unset;
  }

  .site-main {
    background: transparent;
  }

  .content-wrapper {
    padding: 20px 0;
    max-width: 70%;
    margin: 0 auto;
  }

  .intro {
    height: 100% !important;
  }

  .intro__logo {
    width: 100% !important;
    height: unset !important;
    justify-content: center !important;
  }

  .intro__image {
    min-width: 120px !important;  
  }

  .intro__content,
  .intro__more,
  .intro__line {
    display: none;
  }

  .announcement__content {
    column-count: 1;
  }

  .announcement__content figure {
    max-width: 45%;
    float: left;
    margin: 20px 40px 20px 0;
  }

  #contact, .easter-egg {
    display: none;
  }
}
