/* Typography 
--------------------- */
@font-face {
    font-family: 'TideSans-200LilMondo';
    src: url('../../fonts/38BEBB_0_0.woff') format('woff'),
        url('../../fonts/38BEBB_0_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_0_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_0_0.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'TideSans-200LilMondoItalic';
    src: url('../../fonts/38BEBB_1_0.woff') format('woff'),
        url('../../fonts/38BEBB_1_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_1_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_1_0.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'TideSans-700Mondo';
    src: url('../../fonts/38BEBB_2_0.woff') format('woff'),
        url('../../fonts/38BEBB_2_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_2_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_2_0.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'TideSans-700MondoItalic';
    src: url('../../fonts/38BEBB_3_0.woff') format('woff'),
        url('../../fonts/38BEBB_3_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_3_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_3_0.eot?#iefix') format('embedded-opentype');
}

h1, h2, h3, h5, h6 {
    letter-spacing: 0.025rem;
}
p {
    font-size: 14px;
    line-height: 1.3rem;

    @media (--viewport-med) {
        font-size: 16px;
        line-height: 1.45rem;
    }
}

p a {
 color: var(--orBlack);
 background:
     linear-gradient(
       to bottom, var(--orAccent) 0%,
       var(--orAccent) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  text-decoration: none;
  transition: background-size .2s;

  &:hover {
    background-size: 4px 50px; 
 }
}