/* Typography 
--------------------- */
@font-face {
    font-family: 'TideSans-200LilMondo';
    src: url('../../fonts/38BEBB_0_0.woff') format('woff'),
        url('../../fonts/38BEBB_0_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_0_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_0_0.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'TideSans-200LilMondoItalic';
    src: url('../../fonts/38BEBB_1_0.woff') format('woff'),
        url('../../fonts/38BEBB_1_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_1_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_1_0.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'TideSans-700Mondo';
    src: url('../../fonts/38BEBB_2_0.woff') format('woff'),
        url('../../fonts/38BEBB_2_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_2_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_2_0.eot?#iefix') format('embedded-opentype');
}

@font-face {
    font-family: 'TideSans-700MondoItalic';
    src: url('../../fonts/38BEBB_3_0.woff') format('woff'),
        url('../../fonts/38BEBB_3_0.woff2') format('woff2'),
        url('../../fonts/38BEBB_3_0.ttf') format('truetype'),
        url('../../fonts/38BEBB_3_0.eot?#iefix') format('embedded-opentype');
}
