/* Announcement 
--------------------- */

.announcement {
  position: relative;
}

.announcement__content {
  position: relative;
  column-count: 2;
  column-gap: 90px;

  > * {
  -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
              break-inside: avoid;
  }
  
}

.announcement__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.announcement__image {
  width: 100%;
  max-width: 500px;
}

.announcement__title {
  font-family: var(--strongFontFamily);
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (--viewport-med) {
      font-size: 52px;
      margin-bottom: 50px;
  }
}

.announcement__subtitle {
  font-family: var(--strongFontFamily);
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (--viewport-med) {
    font-size: 20px;
    margin: 40px 0 20px;
  }
}

.announcement__line-top {
  display: none;
    
  @media (--viewport-lg) {
      display: block;
      width: 622px;
      height: 12px;
      position: absolute;
      z-index: -1;
      left: -150px;
      top: 70px;
  }
}

.announcement__line-bottom {
  display: none;
    
    @media (--viewport-lg) {
        display: block;
        position: absolute;
        z-index: -1;
        right: -100px;
        bottom: 90px;
        width: 547px;
        height: 36px;

    }
}