/* Announcement 
--------------------- */

.announcement {
  position: relative;
  overflow: hidden;

  @media (--viewport-med) {
      &:after {
          content: "";
          position: absolute;
          z-index: -2;
          background-image: url('../../img/grid.svg');
          background-repeat: no-repeat;
          left: -300px;
          top: -130px;
          width: 100%;
          height: 1100px;
          opacity: 0.3;
      }
  }
}

.announcement__content {
  position: relative;
}

.announcement__columns {
  @media (--viewport-med) {
    column-count: 2;
    column-gap: 32px;

    > * {
      -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                  break-inside: avoid;
    }
  }

  @media (--viewport-lg) {
    column-gap: 50px;
  }

  @media (--viewport-xl) {
    column-gap: 90px;
  }
}

.announcement__figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.announcement__image {
  width: 100%;
  max-width: 500px;
}

.announcement__title {
  font-family: var(--strongFontFamily);
  font-size: 32px;
  text-transform: uppercase;

  @media (--viewport-lg) {
      font-size: 52px;
      margin-bottom: 50px;
  }
}

.announcement__subtitle {
  font-family: var(--strongFontFamily);
  font-size: 18px;
  margin: 20px 0;

  @media (--viewport-lg) {
    margin: 40px 0;
  }
}

.announcement__line-top {
  display: none;
    
  @media (--viewport-lg) {
      display: block;
      width: 622px;
      height: 12px;
      position: absolute;
      z-index: -1;
      left: -150px;
      top: 70px;
  }
}

.announcement__line-bottom {
  display: none;
    
    @media (--viewport-lg) {
        display: block;
        position: absolute;
        z-index: -1;
        right: -100px;
        bottom: 90px;
        width: 547px;
        height: 36px;

    }
}