/* Contact 
--------------------- */

.contact {
    position: relative;
    overflow: hidden;    
}

.contact .content-wrapper {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    position: relative;
    overflow: hidden;

    @media (--viewport-lg) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contact__form {
    position: relative;
}

.contact__projects {
   width: 100%;

    @media (--viewport-med) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media (--viewport-lg) {
        padding-left: 90px;
    }


}

.contact__project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    @media (--viewport-med) {
        flex-direction: row;
        justify-content: space-around;
    }

    img {
        max-width: 100px;

        @media (--viewport-med) {
            max-width: 170px;
        }
    }
}

.contact__line {
    display: none;
    
    @media (--viewport-lg) {
        display: block;
        position: absolute;
        z-index: -1;
        right: -70px;
        top: -160px;
        width: 26px;
        height: 780px;

    }
}

.contact__title {
    font-family: var(--strongFontFamily);
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;

    @media (--viewport-med) {
        margin-bottom: 40px;
        text-align: left;
    }
}


.projects__line {
    display: none;
    
    @media (--viewport-lg) {
        display: block;
        position: absolute;
        z-index: -1;
        right: -170px;
        bottom: 220px;
        width: 524px;
        height: 36px;

    }
}