/* Contact 
--------------------- */

.contact {
    padding: 0 60px 100px;

    @media (--viewport-med) {
        padding: 0 150px 150px;
    }

    @media (--viewport-lg) {
        padding: 0 300px 160px;
    }

}

.contact__form {
    max-width: 480px;
    position: relative;
    
    @media (--viewport-med) {
        padding-left: 75px;
    }
}

.contact__line {
    display: none;
    
    @media (--viewport-lg) {
        display: block;
        position: absolute;
        z-index: -1;
        right: -40px;
        top: 30px;
        width: 22px;
        height: 485px;

    }
}

.contact__title {
    font-family: var(--strongFontFamily);
    font-size: 39px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (--viewport-med) {
        font-size: 72px;
        margin-bottom: 40px;
    }
}
