/* Footer 
--------------------- */

.footer {
    background-color: var(--orBlack);
    padding: 20px;
    text-align: center;
    height: 600px;
    position: relative;

    @media (--viewport-med) {
        padding: 50px 0;
    }

    @media (--viewport-lg) {
        padding: 60px 0 70px;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: 1;
        background-image: url('../../img/end-line.svg');
        right: 216px;
        top: -150px;
        width: 32px;
        height: 519px;
    }

    p {
        color: var(--orWhite);
    }
}

.footer__content {
    font-family: var(--strongFontFamily);
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 420px;
}
