/* Form 
--------------------- */

/* Form Resets */
input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

input,
select,
button,
textarea {
    background-color: var(--orWhite);
    box-shadow: inset 0px -4px 0px var(--orBlack);
    font-size: 18px;
    font-family: var(--bodyFontFamily);
    padding: 10px;
    width: 100%;

    &:focus {
        outline: none;
        box-shadow: inset 0px -4px 0px var(--orAccent);
    }
}

.user-is-tabbing {
    input,
    select,
    button,
    textarea {
        &:focus {
            box-shadow: inset 0px -6px 0px var(--orAccent);
        }
    }
}


select {
    background-image: url('../../img/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: 96% 50%;
    border-radius: 0 !important; 
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;
}

form > *:not(last-child) {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color:var(--orBlack);
    box-shadow: none;
    color: var(--orWhite);
    font-family: var(--strongFontFamily);
    font-size: 52px;
    margin-top: 30px;
    text-transform: uppercase;
    padding-top: 0;
    line-height: 0.85;
    text-align: left;
    -webkit-appearance: none;
    -webkit-border-radius: 0px !important;

    &:hover {
        cursor: pointer;
        background: linear-gradient(231deg, #FABB13, #ABAAD0, #DE4B26, #FABB13, #ABAAD0);
        background-size: 1200% 1200%;
        animation: gradientCycle 10s ease infinite;
    }
}