/* Intro 
--------------------- */

.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (--height-xl) {
        height: 100vh;
    }
}

.intro__line {
    display: none;
    
    @media (--viewport-med) {
        display: block;
        position: absolute;
        z-index: -1;
        right: 50px;
        top: 90px;
        width: 51px;
        height: 1114px;
    }
}

.intro__logo {
    @media (--viewport-med) {
        transform: translateX(-50%);
    }
}

.intro__content {
    max-width: 70%;
    margin: 0 auto 4vh;

    @media (--viewport-med) {
        max-width: 60vw;
        margin: 3vh 0 5vh auto;
    }

    @media (--viewport-lg) {
        padding-right: 10%;
    }
}

.intro__image {
    width: 250px;
    @media (--viewport-med) {
        width: 30vw;    
    }
    @media (--viewport-lg) {
        width: 25vw;    
    }
}

.intro__title {
    font-family: var(--strongFontFamily);
    font-size: 42px;
    margin-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;

    @media (--viewport-med) {
        font-size: 62px; 
        margin-bottom: 0px;
        text-align: left;
    }

    @media (--viewport-lg) {
        font-size: 72px; 
    }
}

.intro__subtitle {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    @media (--viewport-med) {
        font-size: 24px; 
        padding-bottom: 0px;
        text-align: left;
    }
}

.intro__more {
    font-family: var(--strongFontFamily);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orBlack);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: var(--orAccent);
    }
}

.intro__more-arrow {
    height: 46px;
    width: 22px;
    margin-left: 20px;
    animation: bounce 2s infinite;
}

