/* Intro 
--------------------- */

.intro {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;

    @media (--viewport-med) {
        flex-direction: row;
        justify-content: space-between;
    }

    @media (--height-xl) {
        height: 100vh;
        margin-bottom: 0;
    }
}

.intro__line {
    display: none;
    
    @media (--viewport-lg) {
        display: block;
        position: absolute;
        z-index: -1;
        right: 50px;
        top: 90px;
        width: 51px;
        height: 1114px;
    }
}


.intro__logo {
    
    @media (--viewport-med) {
        width: 49%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.intro__content {
    
    @media (--viewport-med) {
        width: 49%;
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: flex-end;
    }
}

.intro__image {
    min-width: 250px;

    @media (--viewport-med) {
     min-width: 60%;  
    }
}

.intro__title {
    font-family: var(--strongFontFamily);
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;

    @media (--viewport-med) {
        font-size: 52px; 
        text-align: right;
        margin-right: 100px;
    }

}

.intro__subtitle {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;

    @media (--viewport-med) {
        font-size: 24px; 
        text-align: right;
        margin-right: 100px;
    }
}

.intro__more {
    font-family: var(--strongFontFamily);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orBlack);
    text-decoration: none;
    text-transform: uppercase;

    @media (--viewport-med) {
        width: 100%;
        height: 20%;
    }

    &:hover {
        color: var(--orAccent);
    }
}

.intro__more-arrow {
    height: 46px;
    width: 22px;
    margin-left: 20px;
    animation: bounce 2s infinite;
}

