/* Nav
--------------------- */

.menu {
    position: fixed;
    top: 170px;
    left: 0;
    z-index: 2;
}

.menu-toggle {
    background: transparent;
    box-shadow: none; 
    position: absolute;
    top: -30px;
    height: 40px;
    width: 60px;
    padding: 0;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        box-shadow: none;
    }
}

@keyframes menuToggleArrow {
0%, 100% {transform: rotate(270deg) translateY(-5%)}
50% { transform: rotate(270deg) translateY(5%)}
}

@keyframes menuToggleArrowOpen {
0%, 100% {transform: rotate(90deg) translateY(-5%)}
50% { transform: rotate(90deg) translateY(5%)}
}

  
.menu-toggle__arrow {  
    height: 40px;
    width: 60px;
    transform: rotate(270deg);
    transition: transform 0.2s ease-out;
    
    &:hover {
        animation: menuToggleArrow 2s infinite;
    }

    .open & {
        transform: rotate(90deg); 

        &:hover {
            animation: menuToggleArrowOpen 2s infinite;
        }
    }
}

.menu-item {
    align-items: stretch;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: left;
    padding-left: 44px;
    transform: translateX(-85%);
    transition: transform 0.2s ease-out;


    .open & {
        transform: translateX(-24px);

        &:hover {
            cursor: pointer; 
        }
    }

    &:nth-child(1) {
        background-image: svg-load('../../img/home-bg.svg', fill: #181717);
        width: 207px;
        height: 110px;

        .open & {
            &:hover {
                background-image: svg-load('../../img/home-bg.svg', fill: #1d94af);
            }
        }
    }

    &:nth-child(2) {
        background-image: svg-load('../../img/menu-item-bg-1.svg', fill: #181717);
        width: 194px;
        height: 47px;
        .open & {
            &:hover {
                background-image: svg-load('../../img/menu-item-bg-1.svg', fill: #1d94af);
            }
        }
    }
    
    &:nth-child(3) {
        background-image: svg-load('../../img/menu-item-bg-2.svg', fill: #181717);
        width: 187px;
        height: 61px;
        .open & {
            &:hover {
                background-image: svg-load('../../img/menu-item-bg-2.svg', fill: #1d94af);
            }
        }
    }

    &:nth-child(4) {
        background-image: svg-load('../../img/menu-item-bg-3.svg', fill: #181717);
        width: 181px;
        height: 42px;
        .open & {
            &:hover {
                background-image: svg-load('../../img/menu-item-bg-3.svg', fill: #1d94af);
            }
        }
    }

    &:nth-child(5) {
        background-image: svg-load('../../img/menu-item-bg-4.svg', fill: #181717);
        width: 169px;
        height: 40px;
        .open & {
            &:hover {
                background-image: svg-load('../../img/menu-item-bg-4.svg', fill: #1d94af);
            }
        }
    }

   a {
       align-self: center;
       color: var(--orWhite);
       flex: 1;
       font-family: var(--strongFontFamily);
       font-size: 16px;
       text-decoration: none;
       text-transform: uppercase;
   } 
}